.headerMobile {
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    position: sticky;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(9, 9, 9, 0.12);
    border-bottom: 1px solid var(--bs-border-color);

    &.desktopHidden {
        display: block;
    }

    .wrapper {
        height: 77px;
        display: flex;
        margin: 0 auto;
        max-width: 1320px;
        align-items: center;
        padding: 0 calc(1.5rem * .5);
        justify-content: space-between;
    }    

    .logo {
        width: auto;
        height: 57px;
        display: grid;
        place-items: center;

        img {
            width: auto;
            height: 57px;
            display: block;
        }
    }

    .hamburger {
        border: none;
        background: none;
    }

    .menuIcon {
        width: 50px;
        height: 31px;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        border: 1px solid transparent;
        justify-content: space-between;

        span {
            width: 100%;
            height: 5px;
            display: block;
            border-radius: 6px;
            transition: all 0.3s;
            background-color: #333;
        }
    }

    .menuIcon.active span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .menuIcon.active span:nth-child(2) {
        opacity: 0;
    }

    .menuIcon.active span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .drawer {
        left: 0;
        margin: 0;
        top: 78px;
        width: 100%;
        display: flex;
        position: fixed;
        list-style: none;
        overflow-y: scroll;
        background: #fff;
        height: max-content;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
        transition: all ease-in-out .2s;
        box-shadow: 0 3px 8px rgba(9, 9, 9, 0.12);

        &.drawer-right {
            transform: translateX(100%);
        }

        &.drawer-left {
            transform: translateX(-100%);
        }

        &.active {
            transform: translateX(0);
        }

        ul {
            margin: 0;
            padding: 0;
            width: 100%;

            li {
                width: 100%;
                position: relative;
    
                > a,
                > span {
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--bs-border-color);
                }
    
                > a.active,
                > span.active {
                    color: var(--accent-color);
                }
    
                &.menu-item-submenu {
                    position: relative;

                    > a,
                    > span {
                        padding: 10px 58px 10px 10px;
                    }
    
                    button {
                        top: 0;
                        right: 0;
                        padding: 0;
                        z-index: 2;
                        width: 48px;
                        height: 48px;
                        border: none;
                        background: none;
                        position: absolute;
    
                        svg {
                            width: 33px;
                            height: 33px;
                            transition: transform 0.2s ease-in-out;
                        }
    
                        &.active svg {
                            transform: rotate(180deg);

                            path:last-child {
                                fill: var(--accent-color);
                            }
                        }
                    }
    
                    .submenu {
                        padding: 0;
                        list-style: none;
    
                        li > a,
                        li > span {
                            font-size: 16px;
                            padding-left: 20px;
                        }
    
                        li ul li > a,
                        li ul li > span {
                            padding-left: 30px;
                        }
    
                        li ul li ul li > a,
                        li ul li ul li > span {
                            padding-left: 40px;
                        }
    
                        li ul li ul li ul li > a,
                        li ul li ul li ul li > span {
                            padding-left: 50px;
                        }
    
                        li ul li ul li ul li ul li > a,
                        li ul li ul li ul li ul li > span {
                            padding-left: 60px;
                        }
    
                        li ul li ul li ul li ul li ul li > a,
                        li ul li ul li ul li ul li ul li > span {
                            padding-left: 70px;
                        }
    
                        li ul li ul li ul li ul li ul li ul li > a,
                        li ul li ul li ul li ul li ul li ul li > span {
                            padding-left: 80px;
                        }
                    }
                }
            }
        }

        .cta-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid var(--bs-border-color);

            a,
            div {
                display: flex;
                padding: 30px 10px;
                align-items: center;
                justify-content: flex-end;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }    

            a.cta,
            button {
                font-size: 14px;
                padding: 5px 10px;
                height: min-content;
            }
        }
    }
}

.headerMobileBottom {
    bottom: 0;
    top: unset;
    position: fixed;

    .drawer {
        top: unset;
        bottom: 78px;
        box-shadow: none;
        justify-content: flex-end;
    }

    & ~ .footer {
        margin-bottom: 78px;
    }
}

.backdrop {
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    border: none;
    height: 100vh;
    position: fixed;
    transform: translateX(-100%);
    transition: all ease-in-out .2s;
    background: rgba(9, 9, 9, 0.9);

    &.right {
        transform: translateX(100%);
    }
    
    &.active {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .headerMobile.desktopHidden {
        display: none;
    }
}