.text-and-image-wrapper .row .section-element {
    padding: 0 40px;
}

.text-and-image-wrapper .row.flex-row-reverse .section-element {
    padding: 0 40px 0 0;
}

@media (max-width: 767px) {
    .text-and-image-wrapper .row .section-element,
    .text-and-image-wrapper .row.flex-row-reverse .section-element {
        padding: 20px 0 0;
    }
}